.nav-wrapper{
	//z-index:					10;
	//position:					relative;
	background:                 url(../images/ie8lte/bg_60.png) repeat 0 0 transparent;
}
.main{
	//z-index:					1;
	//position:					relative;
}
.nav .menu > li{
	//background:				url('.') repeat 0 0;
}
.nav li ul,
.lysogor-popup{
	background:                 url(../images/ie8lte/bg_60.png) repeat 0 0 transparent;
}
.nav li a{
	cursor:						pointer;
}
.nav li a span{
	zoom:						1;
}
#logo img{
	//margin-top:				4px;
}
.contact-form .b-center{
	background:                 url(../images/ie8lte/bg_60.png) repeat 0 0 transparent;
}
.c-form .input-text:focus,
.c-form textarea:focus{
	filter:						none;
}
button.button {
    filter:                     alpha(opacity=70);
}
button.button:hover{
    filter:                     none;
}
.b-thumbnls .btn-stop{
    display:				-moz-inline-stack;
    display:				inline-block;
    *display:				inline;
    zoom:					1;
    vertical-align:			middle;
    width:                  26px;
    height:                 26px;
    background:             url('../images/timer.png') no-repeat 0px 0px;
}

#preloader{
    background:             url('../images/loader.gif') no-repeat 50% 50%;
    width:                  60px;
    height:                 60px;
    position:               absolute;
    top:                    50%;
    left:                   50%;
    margin:                 -30px 0 0 -30px;
    z-index:                100;
}
.menu a{
    background:             url('.') no-repeat 0 0;
}
.copyright{
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	right:  -55px;
	bottom: 140px;
	background: none !important;
}