html{
	padding:    0;
	margin:     0;
	height:     100%;
	min-height: 100%;
	min-width:  590px;
	overflow-y: hidden;
	overflow-x: auto;
}

body{
	padding:     0;
	margin:      0;
	background:  #000;
	color:       #fff;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:   14px;
	line-height: 1.5;
	height:      100%;
	min-height:  100%;
}

.slider-wrapper .overlay{
	position: absolute;
	top:      0;
	right:    0;
	bottom:   0;
	left:     0;
	z-index:  2;
	display:  block !important;
}

html.lysogor-slider{
}

.clearfix:after{
	content:     '';
	display:     block;
	clear:       both;
	height:      0;
	overflow:    hidden;
	line-height: 0;
}

a{
	color:           #fff;
	text-decoration: none;
}

a:hover{
	color:           #ca1313;
	text-decoration: underline;
}

h1{
	font-weight: 400;
}

img{
	border: 0 none;
}

.no-display{
	display: none;
}

input, textarea{
	color:          #000;
	font-family:    Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:      12px;
	line-height:    1.5;
	vertical-align: middle;
}

button.button::-moz-focus-inner{
	padding: 0;
	border:  0;
}

/* FF Fix */
button.button{
	-webkit-border-fit: lines;
}

/* <- Safari & Google Chrome Fix */
button.button{
	overflow:           visible;
	width:              auto;
	border:             0;
	padding:            0;
	margin:             0;
	background:         transparent;
	cursor:             pointer;
	opacity:            0.7;
	-moz-transition:    opacity 0.4s ease;
	-o-transition:      opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-ms-transition:     opacity 0.4s ease;
	transition:         opacity 0.4s ease;
}

button.button:hover{
	opacity:            1;
	-moz-transition:    opacity 0s ease;
	-o-transition:      opacity 0s ease;
	-webkit-transition: opacity 0s ease;
	-ms-transition:     opacity 0s ease;
	transition:         opacity 0s ease;
}

button.button span{
	display:     block;
	height:      28px;
	padding:     1px;
	background:  #eee;
	font:        bold 11px/28px Verdana, Arial, Helvetica, sans-serif;
	text-align:  center;
	white-space: nowrap;
	color:       #fff;
}

button.button span span{
	border:      0;
	line-height: 26px;
	padding:     0 5px;
	cursor:      pointer;
	background:  #000;
	display:     block;
}

.content-view{
	margin:         0 auto;
	padding-bottom: 75px;
	position:       relative;
}

.lysogor-slider .content-view{
	padding-bottom: 0;
}

.menu{
	float: left;
}

.lysogor-slider .nav-wrapper{
	position:   absolute;
	bottom:     0;
	left:       0;
	right:      0;
	z-index:    200;
	background: rgba(0, 0, 0, .8);
	height:     54px;
	border-top: 0 none;
	padding:    0 10px;
}

.nav{
	margin:    0 auto;
	max-width: 980px;
}

.lysogor-slider .nav{
	margin:    0;
	width:     auto;
	max-width: none;
}

.nav ul,
.nav li{
	margin:     0;
	padding:    0;
	list-style: none;
}

.nav .menu{
	padding-right: 25px;
}

.nav{
	height: 54px;
}

.nav li{
	float:          left;
	color:          #fff;
	font-weight:    700;
	line-height:    54px;
	text-transform: uppercase;
	font-size:      11px;
	font-family:    Tahoma, Arial, Helvetica, sans-serif;
	position:       relative;
}

.nav li a{
	text-decoration: none;
	color:           #fff;
	padding:         0 10px;
}

.nav li ul{
	display:    none;
	position:   absolute;
	bottom:     100%;
	left:       0;
	z-index:    10;
	background: #000;
	background: rgba(0, 0, 0, .9);
}

.lysogor-slider .nav li ul{
	background: rgba(0, 0, 0, .8);
}

.nav li li{
	float:       none;
	white-space: nowrap;
}

.nav li li a{
	display:     block;
	height:      30px;
	line-height: 30px;
}

.nav li li a:hover{
	background: #333;
}

.nav li:hover ul{
	display: block;
}

.nav .menu > li > a{
	display:  block;
	overflow: hidden;
	height:   54px;
}

.nav .menu > li > a span{
	display: block;
}

.nav .menu > li > a span:first-child{
	margin-top: -54px;
}

.nav-color-0 > a span:first-child,
.nav-color-0 li a:hover{
	/*color: #D97CD8;*/
	color: #969;
}

.nav-color-1 > a span:first-child,
.nav-color-1 li a:hover{
	/*color: #4A99ED;*/
	color: #369;
}

.nav-color-2 > a span:first-child,
.nav-color-2 li a:hover{
	/*color: #75C4C2;*/
	color: #699;
}

.nav-color-3 > a span:first-child,
.nav-color-3 li a:hover{
	/*color: #F472B2;*/
	color: #C69;
}

.nav-color-4 > a span:first-child,
.nav-color-4 li a:hover{
	/*color: #FFA725;*/
	color: #8C562B;
}

.nav-color-5 > a span:first-child,
.nav-color-5 li a:hover{
	/*color: #73CB60;*/
	color: #966;
}

.nav-color-6 > a span:first-child,
.nav-color-6 li a:hover{
	/*color: #73D327;*/
	color: #900;
}

#logo{
	float:       right;
	line-height: 54px;
	height:      54px;
	width:       185px;
}

#logo img{
	vertical-align: top;
}

.contact-form{
	height:   100%;
	overflow: hidden;
	color:    #fff;
	padding:  10px;
}

.contact-form .person-name{
	float: right;
	width: 536px;
}

.content{
	position: relative;
	z-index:  1;
}

.b-center{
	width:        880px;
	margin:       0 auto;
	padding-left: 30px;
}

.contact-form .b-center{
	margin:     0;
	position:   absolute;
	left:       20px;
	top:        20px;
	overflow-y: auto;

}

.contact-person .avatar{
	float:    left;
	margin:   23px 25px 25px 0;
	width:    300px;
	overflow: hidden;
	display:  block;
}

.contact-person .pages{
	display:  -moz-inline-stack;
	display:  inline-block;
	*display: inline;
	zoom:     1;
}

.contact-person  h2 small{
	font-size:   11px;
	font-weight: 400;
	margin-left: 5px;
}

.person-description{
	float: right;
	width: 546px;
}

.c-form{
	padding-top: 5px;
}

.c-form div.highlighter{
	padding: 5px 0;
}

.c-form label,
span.label{
	width:          180px;
	padding-right:  40px;
	display:        -moz-inline-stack;
	display:        inline-block;
	*display:       inline;
	zoom:           1;
	vertical-align: top;
}

.c-form .input-text,
.c-form textarea{
	width:      100%;
	max-width:  330px;
	resize:     none;
	border:     1px solid #000000;
	box-shadow: 0 0 3px #555555 inset;
	padding:    4px 3px;
}

.c-form label,
.c-form .input-text,
.c-form textarea{
	width:              100%;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing:      border-box;
	-ms-box-sizing:     border-box;
	box-sizing:         border-box;
	display:            block;
}

.c-form textarea{
	height: 100px;
}

.c-form  .buttons-set{
	padding:    10px;
	text-align: right;
}

.c-form  .buttons-set button.button{
	width: 306px;
}

.social-bar{
	position:    fixed;
	bottom:      0;
	left:        0;
	right:       0;
	height:      20px;
	background:  #000;
	color:       #fff;
	line-height: 20px;
	padding:     5px 15px;
	z-index:     1000;
	white-space: nowrap;
}

.social-bar footer > *{
	vertical-align: top;
}

.main{
	position: relative;
	z-index:  2;
}

.b-tabs{
	margin: 0;
}

.b-tabs .b-tab-item{
	overflow:   hidden;
	position:   absolute;
	left:       -9999px;
	top:        -9999px;
	text-align: left;
}

.b-tabs .b-tab-item.b-tab-item-active{
	overflow: hidden;
	position: relative;
	top:      0;
	left:     0px;
}

#slider{
	position: absolute;
	left:     50%;
	height:   100%;
}

.slider-wrapper{
	margin:   0 auto;
	position: relative;
	height:   100%;
	width:    780px;
}

#slider img.current{
	z-index: 1;
}

#slider img{
	width:               100%;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-o-user-select:      none;
	-ms-user-select:     none;
	user-select:         none;
	list-style:          none;
	position:            absolute;
	top:                 0;
	left:                50%;
	padding:             0 !important;
	opacity:             0;
	filter:              alpha(opacity = 0);
	z-index:             0;
}

#slider .pagination{
	bottom:              10px;
	right:               5px;
	color:               #FFFFFF;
	position:            absolute;
	text-align:          left;
	z-index:             3;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-o-user-select:      none;
	-ms-user-select:     none;
	user-select:         none;
}

#slider .pagination a{
	background:      #1f1e21;
	color:           #ffffff;
	display:         block;
	float:           left;
	height:          16px;
	margin:          0 0 0 3px;
	overflow:        hidden;
	width:           16px;
	text-align:      center;
	font-size:       11px;
	line-height:     16px;
	font-family:     Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#slider .pagination a.current{
	background: #ffffff;
	color:      #1f1e21;
}

.slider-wrapper .arrows{
	top:             36px;
	left:            0;
	bottom:          0;
	padding:         0 5px;
	position:        absolute;
	width:           40px;
	z-index:         3;
	font-size:       130px;
	color:           #fff;
	text-decoration: none;
}

.slider-wrapper .arrows span{
	position:   absolute;
	top:        50%;
	left:       0;
	margin-top: -105px;
}

.slider-wrapper .arrows.arrow-right span{
	left:  auto;
	right: 0;
}

.slider-wrapper .arrow-right{
	text-align: right;
	left:       auto;
	right:      0;
}

.slider-wrapper .arrows:hover{
	background: rgba(0, 0, 0, 0.7);
}

.thumbnails-holder{
	float:  left;
	height: 50px;
	margin: 2px 15px;
}

.b-thumbnls .thumb:hover,
.b-thumbnls .thumb.current{
	position: relative;
}

.b-thumbnls .thumb:hover:after,
.b-thumbnls .thumb.current:after{
	position:   absolute;
	top:        0;
	left:       0;
	right:      0;
	bottom:     0;
	box-sizing: border-box;
	border:     2px solid #fff;
	content:    ' ';
}

.b-thumbnls{
	float:       left;
	white-space: nowrap;
	height:      54px;
	margin:      0;
}

.b-thumbnls-holder{
	display:        -moz-inline-stack;
	display:        inline-block;
	*display:       inline;
	zoom:           1;
	vertical-align: middle;
	overflow:       hidden;
	position:       relative;
	height:         54px;
}

.b-thumbnls-inner{
	position: absolute;
	top:      0;
	left:     0;
}

.b-thumbnls .thumb{
	display:  -moz-inline-stack;
	display:  inline-block;
	*display: inline;
	zoom:     1;
	cursor:   pointer;
	width:    54px;
	height:   54px;
	margin:   0 1px;
}

.b-thumbnls .btn-stop{
	display:        -moz-inline-stack;
	display:        inline-block;
	*display:       inline;
	zoom:           1;
	vertical-align: middle;
	width:          26px;
	height:         26px;
}

.b-thumbnls .btn-stop.paused{
	background-position: 0px -26px;
}

.b-thumbnls .btn-prev,
.b-thumbnls .btn-next{
	display:         -moz-inline-stack;
	display:         inline-block;
	*display:        inline;
	zoom:            1;
	vertical-align:  middle;
	color:           #fff;
	text-decoration: none;
	font-weight:     700;
	font-size:       30px;
	width:           18px;
	text-align:      center;
	padding-bottom:  4px;
}

.b-thumbnls .btn-prev:hover,
.b-thumbnls .btn-next:hover{
	opacity: 0.8;
	filter:  alpha(opacity = 80);
}

.btn-hidden{
	visibility: hidden !important;
}

.thumb-controls{
	width:      36px;
	height:     125px;
	position:   relative;
	float:      left;
	background: #000;
}

#preloader{
	width:    70px;
	height:   70px;
	position: absolute;
	top:      50%;
	left:     50%;
	margin:   -35px 0 0 -35px;
	z-index:  100;
}

.lysogor-popup-link{
	position:      absolute;
	z-index:       100;
	right:         30px;
	top:           10px;
	border-radius: 50%;
}

.lysogor-popup-link img{
	display: block;
}

.lysogor-popup{
	background: rgba(0, 0, 0, .8);
	box-shadow: 0 0 5px #aaa;
	border:     1px solid #aaa;
	position:   fixed;
	top:        -9999px;
	left:       -9999px;
	z-index:    100;
	font:       11px/18px Verdana;
	padding:    20px 20px 20px 40px;
	text-align: left;
}

.lysogor-popup-content{
	position:      relative;
	overflow:      auto;
	height:        100%;
	width:         100%;
	max-width:     700px;
	padding-right: 20px;
}

#mask{
	display:             none;
	position:            fixed;
	background:          #000;
	opacity:             0.35;
	filter:              alpha(opacity = 35);
	top:                 0;
	left:                0;
	height:              100%;
	width:               100%;
	z-index:             50;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-o-user-select:      none;
	-ms-user-select:     none;
	user-select:         none;
}

.lysogor-popup .close{
	position:        absolute;
	right:           10px;
	top:             5px;
	text-decoration: none;
	font-size:       16px;
}

.copyright{
	position:          absolute;
	right:             -30px;
	bottom:            110px;
	font-size:         11px;
	font-family:       Arial, Helvetica, sans-serif;
	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-o-transform:      rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	transform:         rotate(-90deg);
	z-index:           120;
}

.ls-content-wrapper{
	background: #000;
	position:   absolute;
	right:      0;
	left:       50%;
	top:        0;
	bottom:     0;
	padding:    0 10px 65px 20px;
	z-index:    2;
}

.ls-content{
	overflow:      auto;
	padding-top:   10px;
	padding-right: 20px;
	height:        100%;
	font-size:     12px;
}

#vk_recomned{
	height:     20px;
	/*width:      96px;*/
	margin:     0 45px 0 15px;
	/*background: url(../images/vk.png) no-repeat 0 0;*/
	display:    -moz-inline-stack;
	display:    inline-block;
	*display:   inline;
	zoom:       1;
}

.fb-like{
	vertical-align: top;
}

.fb_link:hover,
.vk_link:hover,
#vk_recomned:hover{
	opacity: 0.8;
	filter:  alpha(opacity = 80);
}

.fb_link,
.vk_link{
	width:          20px;
	height:         20px;
	display:        -moz-inline-stack;
	display:        inline-block;
	*display:       inline;
	zoom:           1;
	vertical-align: top;
	cursor:         pointer;
	margin-right:   10px;
	float:          right
}

.fb_link{
	background: url(../images/fb_link.png) no-repeat 0 0;
}

.vk_link{
	background: url(../images/vk_link.png) no-repeat 0 0;
}
