	<div class="head_admin"><img src="/admin/templates/s2dio/i/arrow_head.gif" alt="Файл загружен" style="padding-right: 5px">Файл загружен</div>
		<center>
		<div style="border: 1px dotted red; width: 80%; padding: 5px">Адрес файла <b>http://{$path}/uploads/{$new_name}</b><br>
		Скопируйте адрес файла и нажмите "Закрыть окно"<br>
		<a href='' onClick=window.close(); style="font-size: 16px">Закрыть окно</a></div><br>
        </center>