<br> <h2>последние работы</h2>
{foreach from=$viewLast key=key item=item}	
<div class="phortf">
     <div class="min_photos"> 
         <a href="/portfolio/{$item.id_category}/{$item.id_item}.html" title="{$item.name}"><img src="/uploads/photos/small/{$item.image}" alt="{$item.name}" border="0" class="bg_img_min"></a> 
     </div>
 <a href="/portfolio/view/{$item.id_item}/" title="{$item.name}" class="dashed">{$item.name}</a> {$item.width}-{$item.height}
 </div>
 {/foreach}
	
 
 