<h2>Наши работы</h2> {if $num <= 0} <div align="center" style="color: #CCC; font-size: 16px">На даный момент этот раздел пуст</div> {/if}
 {foreach from=$view_cat_one key=key item=item}
<div class="phortf">
     <div class="min_photos"> 
     
         <a href="/portfolio/{$item.url}" title="{$item.name}"><img src="/uploads/photos/small/{$item.image}" alt="{$item.name}" border="0" class="bg_img_min"></a> 
     </div>
     
 <a href="/portfolio/{$item.url}" title="{$item.name}" class="dashed">{$item.name}</a> 
 </div>
{/foreach}
<div class="cl">&nbsp;</div>
 <div style="float:right;">
  		{foreach from=$nav_page key=key item=item}
  			{if $item.i == $item.page}<a href="/portfolio/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/portfolio/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>{/if}
  		{/foreach}
        {foreach from=$nav_page2 key=key item=item}
  			{if $item.i == $item.page}<a href="/portfolio/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/portfolio/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>{/if}
        {/foreach}
        </div>