<h2>Наши работы </h2>
{foreach from=$view_cat key=key item=item name=view_cat}
<div style="float: left;">
	<div class="bg_photos">
   			<a href="/portfolio/{$item.url}" title="{$item.name}"><img src="/uploads/photos/small/{$item.image}" alt="{$item.name}" border="0"></a> 
 </div>
	<div style="text-align:center;">
   			<p><a href="/portfolio/{$item.url}" title="{$item.name}">{$item.name}</a></p> 
   			Всего работ: {$item.num}<br>
   			Создан: {$item.date}
 </div>
 </div>
   {if $smarty.foreach.view_cat.iteration % 6 == 0}    <div class="clear">&nbsp;</div>{/if}
   {/foreach}