<h2>{$name}</h2>
    	 <div class="big_photos">{if isset($next)} <a href="/portfolio/view/{$next}/">{/if}
				<img src="/uploads/photos/big/{$image}" alt="{$name}" class="bg_img"></a> 
    		</div>
			 {$text}
			 
    		<br>{if isset($prev)} <a href="/portfolio/{$prev}" class="dashed">Назад</a> {/if} &nbsp {if isset($next)} <a href="/portfolio/{$next}" class="dashed">Далее</a> {/if}
			<span class="news_date"> {$views} просмотров,  {$date}	</span>
  			{if $com_on eq yes}{include_php file="modules/comments/view.php"}{/if}