/*
============================================
 @ S2dio  Content Management System
-------------------------------------------- 
 @ Copyright (c) 2011 Stypak Oleg 
--------------------------------------------
 @ http://s2dio.com.ua/
--------------------------------------------
 @ S2CMS style
============================================
*/

/*
Построчная навигация
============================================
*/
 a.s2button, a.s2button-selected{
    -moz-border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(center top , #008d1e, #83ff9d) repeat scroll 0 0 #F6F6F6;
    text-decoration:none;
    cursor: pointer;
    height: 2.0833em;
    overflow: visible;
    padding: 0 0.5em;
    vertical-align: middle;
    white-space: nowrap; 
	border: 1px solid #008d1e;
	color: #FFF;
	}

 

a.s2button-selected {
    background: none repeat scroll 0 0 #c5f6cf;
    border-color: #45ac5b;
    color: #000000;
    cursor: default;
    font-weight: bold;
}
/*
Автор 
============================================
*/
div.autor a {
 
    background: url("../images/ico-author.gif") no-repeat scroll 0 50% transparent;
    color: #75a576;
    padding-left: 18px;
}
.autor{padding:10px 0px 10px 0px; color: #75a576; }

/*
 Комментарии 
============================================
*/
.com_head {
border-bottom:1px solid #e1e1e1;
}

.com_top {
color:#000;
background:#e6fee3;
border-top:1px solid #008d1e;
border-bottom:1px solid #008d1e;
}

.com_text {
padding:5px;
}

.com_name {
padding:5px;
}

div .com_name{
margin-right:10px;
background: url('/templates/s2tem/images/comment.png') no-repeat right 6px;
text-decoration: none;
}
/*
Социальные сети, печать иконки
============================================
*/


.printSelected div {display: none } /* скрываем весь контент на странице */
.printSelected div.printSelection {display: block; margin:60px; } /* делаем видимым только тот блок, который подготовлен для печати */
.printSelected div.printSelection div {display: block; } /* показываем всех его потомков, которые были скрыты первой строкой */

.service {
	position: absolute;
	top: 58px;
	left: 630px;

}

.service .service_link {
	float: left;
	display: block;
	margin-right: 8px;
	width: 24px;
	height: 23px;
	background: url('/templates/s2tem/images/social/service.gif');
	background-repeat: no-repeat;
	line-height: 23px;
	font-size: 12px;
	font-style: italic;
	color: #DA251D;
	text-decoration: none;
}
	
	
.service .service_print { background-position: 0 0; }
.service .service_print:hover { background-position: 0 -23px; }


.service .service_serch { background-position: -96px 0; }
.service .service_serch:hover { background-position: -96px -23px; }

 .service .service_share { background-position: -184px 0; }
 .service .sshare_open .service_share,
 .service .service_share:hover { background-position: -184px -23px; }


	.sshare {
	position: relative;
	background: url('/templates/s2tem/images/social/blank.gif');
}

.sshare_data {
	display: none;
	position: absolute;
	z-index: 3;
	top: 23px;
	right: -20px;
	padding-top: 5px;
	width: 185px;
}

.sshare_data_invert {
	top: auto;
	bottom: 23px;
}

.sshare_open .sshare_data {
	display: block;
}

.sshare_data a {
	display: block;
	margin-bottom: 10px;
	padding: 0 5px 0 15px;
	width: 135px;
	height: 23px;
	background: url('/templates/s2tem/images/social/service.gif');
	background-repeat: no-repeat;
	background-position: -208px 0;
	line-height: 23px;
	font-size: 12px;
	font-style: normal;
	color: #DA251D;
	text-decoration: none;
}

.sshare_data a:hover {
	background-position: -208px -23px;
	color: #FFFFFF;
}

.sshare_data_body_inner {
	padding: 10px 0 1px 15px;
}

.sshare_data_top {
	width: 100%;
	height: 10px;
	overflow: hidden;
	font-size: 0;
	background: url('/templates/s2tem/images/social/sshare_data_top.png') center bottom no-repeat;
}

.sshare_data_body {
	width: 100%;
	background: url('/templates/s2tem/images/social/sshare_data_body.png') center top;
}

.sshare_data_bottom {
	width: 100%;
	height: 5px;
	overflow: hidden;
	font-size: 0;
	background: url('/templates/s2tem/images/social/sshare_data_bottom.png') center bottom no-repeat;
}

.sshare_data_invert .sshare_data_top {
	width: 100%;
	height: 5px;
	overflow: hidden;
	font-size: 0;
	background: url('/templates/s2tem/images/social/sshare_data_bottom_top.png') center bottom no-repeat;
}

.sshare_data_invert .sshare_data_bottom {
	width: 100%;
	height: 10px;
	overflow: hidden;
	font-size: 0;
	background: url('/templates/s2tem/images/social/sshare_data_bottom_bottom.png') center bottom no-repeat;
}

.logue .service .sshare_open .service_share,
.logue .service .service_share:hover { background-position: -184px -23px; }

/*
Модальное окно
============================================
*/
 #fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 15px; 	
	border: 10px solid #FFF;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 400px; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right; 
	margin: -20px -20px 0 0;
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}