form {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Arial
}
option {
	padding-left: 5px
}
.form {
 
}
.row {
	font-size: 11px;
	text-align: left;
	padding: 5px;
}

.select {
	border: 1px solid #a8d8b2;
	width: 385px;
	height: 26px;
	font-size: 1.2em;
	color: #5a5a5a;
	padding: 3px;
}


#datapr{background: url('/templates/s2tem/images/DatePicker.gif') no-repeat 204px 2px;}

.beryear,.bermonth,.berday{border: 1px solid #a8d8b2;padding: 3px;}
 
.time{border: 1px solid #a8d8b2;padding: 3px; width: 385px;}

.input {
	border: 1px solid #a8d8b2;
	width: 224px;
	height: 18px;
	font-size: 1.2em;
	color: #5a5a5a;
	padding: 2px;
}
 
.inputbig {
	font-size: 14px;
	font-weight: bold;
	color: #5a5a5a;
	text-decoration: none;
	width: 420px;
	border: 1px solid #C7CFCB;
	height: 22px;
	padding: 5px
}
 
.textarea {
	font-size: 14px;
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: none;
	width: 380px;
	border: 1px solid #a8d8b2;
	height: 150px;
	padding: 2px
}
 
.input_com {
	font-size: 14px;
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: none;
	width: 260px;
	border: 1px solid #a8d8b2;
	height: 20px;
	padding: 2px
}
 
.textarea_com {
	font-size: 16px;
	font-weight: normal;
	color: #5a5a5a;
	text-decoration: none;
	width: 580px;
	border: 1px solid #a8d8b2;
	height: 69px;
	padding: 2px
}
 
.button {
	font-size: 12px;
	color: #4caf61;
	font-weight: bold;
	cursor: pointer;
	background: url('/templates/s2tem/images/button.png') no-repeat;
	padding:0px 0px 3px 0px;
	width: 105px;
	height: 32px;
	border-width: 0;
}
.button:hover {
	background-position: right bottom;
	color: #008d1e;
}
.star {
	color: #FF0000
}

.sendmail, .error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center
}
.sendmail {
	background-image: url('/templates/s2tem/images/info_done.png');
	color: #4F8A10;
	background-color: #DFF2BF
}
.error {
	color: #D63301;
	background-image: url('/templates/s2tem/images/info_error.png');
	background-color: #FFCCBA
}

.select:hover, .input:hover, .inputbig:hover, .textarea:hover, .input_com:hover, .textarea_com:hover, .beryear:hover, .bermonth:hover, .berday:hover, .time:hover{
	border: 1px solid #4caf61;
}