
	{foreach from=$view key=key item=item}
	   	  	<div style="margin-right:12px; float:left; position:realetive;"> <a href="/catalog/{$item.id_item}/" title="Розділ {$item.name} містить {$item.num}">{$item.name}</a>			</div>
			{* <span style="color: #CFCFCF; font-size: 11px">({$item.num})</span>*}

	{/foreach}
    <br><br>