  <div class="plus_head"><h1>Від А до Я - {$name}</h1></div> 
				 {$text}
				 	<div style="float: left;">
	<a href="#" onclick="history.back();return false;">повернутися назад</a>
	</div>
				{*<div style="float: left; padding-right: 0px">
					<img src="/uploads/catalog/big/{$image}" alt="{$name}">
				</div>
				<div style="float: left; width: 500px">
                  Цена: <span style="color: red; font-size: 16px; font-family: Comic Sans Ms">{$price}</span><br>
                 
				</div>
				<div class="clear" style="padding-bottom: 10px"></div>
    		<br>
       		<p align="right">
       		<img src="/templates/default/i/view.png" alt="Просмотров"> {$views}<br>
       		Добавлен: {$date}
       		</p>*}
  			{if $com_on eq yes}{include_php file="modules/comments/view.php"}{/if}