 <div class="plus_head"><h1>Від А до Я</h1></div> 
 
	{foreach from=$view_cat key=key item=item}
   	  	{*<a href="/catalog/{$item.id_item}/" title="{$item.name}"><img src="/uploads/catalog/small/{$item.image}" alt="{$item.name}" border="0"></a>*}
  	<div style="margin-right:12.4px; float:left; position:realetive;"><a href="/catalog/{$item.id_item}/" title="Розділ {$item.name} містить {$item.num}">{$item.name}</a> </div>
   	  	{$item.text}
  	     
{/foreach}