  <div class="plus_head"><h1>Від А до Я</h1></div> 
	{include_php file="modules/catalog/cat.php"}
	
	{if $num <= 0} <div align="center" style="color: red; font-size: 16px">На даный момент этот раздел пуст</div> {/if}
	
	
	
{foreach from=$view_cat_one key=key item=item}
   		 
			{*<div style="float: left; padding-right: 30px" align="center">
   			<a href="/catalog/view/{$item.id_item}/"><img border="0" src="/uploads/catalog/small/{$item.image}" alt="{$item.name}"></a><br>  *}
   			<a href="/catalog/view/{$item.id_item}/" title="{$item.name}">{$item.name}</a><br>
   				{* <span style="color: #3A3A3A; font-family: Comic Sans Ms">{$item.price}</span>
   			</div>*}
{/foreach}
	  <br>
	  {if $num == 1000}
	 	<div style="float:right;">
  		{foreach from=$nav_page key=key item=item}
  			{if $item.i == $item.page}<a href="/catalog/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/catalog/{$id_item}/page/{$item.i}/" class="s2button">{$item.i}</a>{/if}
  		{/foreach}
        {foreach from=$nav_page2 key=key item=item}
  			{if $item.i == $item.page}<a href="/catalog/{$id_item}/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/catalog/{$id_item}/page/{$item.i}/" class="s2button">{$item.i}</a>{/if}
        {/foreach}
 
				</div>
				{/if}