html, body, td, th, ul, li, p,
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
ul, li{list-style: none;}
table{border-collapse:  collapse;}
.clear{
    clear: both;
    height: 0;
    overflow: hidden;
    line-height: 0;
}