/********************************      Basic Structure      ********************************/

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0 url('../images/bg-body.gif') top left repeat-y;
    font-size: 12px;
}

#body-wrapper {
    background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
}

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px; /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}

a {
    color: #57a000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #777;
}

a:focus {
    outline: 1px;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/************ Button ************/
.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    padding: 5px 7px 3px 7px !important;
}

a.remove-link {
    color: #bb0000;
}

a.remove-link:hover {
    color: #000;
}

/********************************      Sidebar      ********************************/

#sidebar {
    background: url('../images/bg-sidebar.gif') top left no-repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #888;
    font-size: 11px;
}

#sidebar #sidebar-wrapper {
    margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
    color: #ccc;
}

#sidebar a:hover {
    color: #fff;
}

#sidebar #sidebar-title {
    margin: 40px 0 40px 15px;
}

#sidebar #logo {
    margin: 40px 0 40px 0;
}

#sidebar #profile-links {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
    background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li a.current {
    background-image: url('../images/bg-menu-item-current.gif') !important;
    color: #333;
    font-weight: bold;
}

#sidebar #main-nav li a.current:hover {
    color: #333;
}

#sidebar #main-nav ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
}

#sidebar #main-nav ul li {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

#sidebar #main-nav ul li a {
    padding: 8px 15px;
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
    color: #fff;
}

#sidebar #main-nav ul li a.current {
    background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
}

/************ Messages ************/

#messages p,
#messages form {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#messages h4 {
    padding: 10px 0;
}

#messages fieldset {
    margin: 0;
}

#messages textarea {
    margin: 0 0 15px 0;
}

/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
    margin: 0 30px 0 260px;
    padding: 40px 0 0 0;
}

.column-left {
    width: 48%;
    float: left;
}

.column-right {
    width: 48%;
    float: right;
}

#page-intro {
    font-size: 17px;
    padding: 0 0 20px 0;
}

#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-size: 12px;
}

/************ Lists ************/

#main-content ul,
#main-content ol {
    padding: 10px 0;
}

/* Unordered List */

#main-content ul li {
    /*   background: url('../images/icons/menu-current-arrow.gif') center left no-repeat;
padding: 4px 0 4px 20px;*/
}

/* Ordered List */

#main-content ol {
    padding: 0 0 0 24px;
}

#main-content ol li {
    list-style: decimal;
    padding: 4px 0;
}

/*************** Content Box ***************/

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #fff;
}

.content-box-header {
    background: #e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 40px;
}

.content-box-header h3 {
    padding: 12px 15px 10px;
    float: left;
}

ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}

ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}

ul.content-box-tabs li a {
    color: #333;
    padding: 8px 10px;
    display: block;
    margin: 1px;
    border-bottom: 0;
}

ul.content-box-tabs li a:hover {
    color: #57a000;
}

ul.content-box-tabs li a.current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0;
}

.content-box-content {
    padding: 20px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

/************ Table ************/

#table table {
    width: 100%;
    border-collapse: collapse;
}

#table table thead th {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}
#table table thead th,
#table table thead td {
    text-align: left;
}
#table tbody {
    border-bottom: 1px solid #ddd;
}

#table tbody tr {
    background: #fff;
}

#table tbody tr.alt-row {
    background: #f3f3f3;
}

#table tbody tr.tr-hovered {
    background: #e8e8e8;
}
#table table td,
#table table th {
    padding: 10px;
    line-height: 1.3em;
    vertical-align: middle;
}
#table table tfoot td .bulk-actions {
    padding: 15px 0 5px 0;
}
#table table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}

/*************** Pagination ***************/

#main-content .pagination {
    text-align: right;
    padding: 20px 0 5px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}

.pagination a.number {
    border: 1px solid #ddd;
}

.pagination a.current {
    background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
    border-color: #459300 !important;
    color: #fff !important;
}

.pagination a.current:hover {
    text-decoration: underline;
}

/************ Shortcut Buttons ************/

.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}

.shortcut-button span {
    background-position: center 15px;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    display: block;
    padding: 78px 10px 15px 10px;
    text-align: center;
    color: #555;
    font-size: 13px;
    line-height: 1.3em;
}

.new-article span {
    background-image: url('../images/icons/pencil_48.png');
}

.new-page span {
    background-image: url('../images/icons/paper_content_pencil_48.png');
}

.new-menu span {
    background-image: url('../images/icons/icon-48-menu.png');
}

.new-punkt-menu span {
    background-image: url('../images/icons/icon-48-levels.png');
}

.new-page span {
    background-image: url('../images/icons/icon-48-static.png');
}

.upload-image span {
    background-image: url('../images/icons/image_add_48.png');
}

.add-event span {
    background-image: url('../images/icons/clock_48.png');
}

.manage-comments span {
    background-image: url('../images/icons/comment_48.png');
}

.news-menu span {
    background-image: url('../images/icons/icon-48-menumgr.png');
}

.user-m span {
    background-image: url('../images/icons/icon-48-user.png');
}

.shortcut-button:hover {
    background: #fff;

}

.shortcut-button span:hover {
    color: #57a000;
}

ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}

/*************** Forms ***************/

form label {
    display: block;
    padding: 0 0 10px;
    font-weight: bold;
}

form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

form p small {
    font-size: 0.75em;
    color: #777;
}

form input.text-input,
form select,
form textarea,
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

form .small-input {
    width: 25% !important;
}

form .medium-input {
    width: 50% !important;
}

form .large-input {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}

form .large {
    width: 92.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}

form textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}

form select {
    padding: 4px;
    background: #fff;
}

form input[type="checkbox"],
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}

/*************** Notifications ***************/

.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
}

.attention {
    background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}

.information {
    background: #dbe3ff url('../images/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}

.success {
    background: #d5ffce url('../images/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}

.error {
    background: #ffcece url('../images/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}

.notification div {
    display: block;
    font-style: normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}

.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Notification for form inputs */

.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}

/********************************      Login Page      ********************************/

body#login {
    color: #fff;
    background: #222 url('../images/bg-login.gif');
}

#login-wrapper {
    background: url('../images/bg-login-top.png') top left repeat-x;
}

#login-wrapper #login-top {
    width: 100%;
    padding: 90px 0 80px;
    text-align: center;
}

#login-wrapper #login-content {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

#login-wrapper #login-content label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    width: 70px;
    padding: 0;
}

#login-wrapper #login-content input {
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    border: 0;
    background: #fff;
}

#login-wrapper #login-content p {
    padding: 0;
}

#login-wrapper #login-content p#remember-password {
    float: right;
}

#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
    width: auto;
    margin-top: 20px;
}

/* /Табы */

ul {
    padding: 0px;
    margin: 0px;
}

#list li {
    margin: 0 0 1px;
    padding: 8px;
    /*background-color:#efefef;*/
    color: #000000;
    list-style: none;
}

.border_img_edit {
    border: 1px solid #56616f
}

.on {
    color: #000;
    font-size: 12px;
    line-height: 14px;
}

.off {
    color: #b2b1b1;
    font-size: 12px;
    line-height: 14px;
}

/*Модальное окно*/
#maska {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window {
    overflow: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    display: none;
    z-index: 9999;
}

#boxes #dialog {
    position: fixed;
    min-width: 350px;
    width: auto;
    height: auto;
    margin: 0
}

#dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.close {
    cursor: pointer;
    overflow: visible;
    z-index: 9999;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    color: #F00;
    text-decoration: none;
    background: url(../images/icons/cross_grey_small.png) no-repeat
}

#soderzh .close {
    visibility: hidden
}

/*Разворачивющеийся список*/
#myMenu {
    width: 350px;
}

#myMenu label {
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 8px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
    width: 92.5% !important;
    cursor: pointer;
}

#myMenu label.active {
    border-bottom: 0;
    botder-radius: 4px 4px 0 0;
    -moz-botder-radius: 4px 4px 0 0;
    -webkit-botder-radius: 4px 4px 0 0;
}

#myMenu label:after {
    content: url('../images/arrow-down.gif');
    float: right;
}

#myMenu label.active:after {
    content: url('../images/arrow-up.gif');
}

.myMenu {
    display: none;
}

#myMenu ul li {
    padding-left: 25px;
}

span.collapsed {
    cursor: pointer;
}

.myMenu {
    margin-top: -2px;
    border-radius: 0 0px 4px 4px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-top: none;
    width: 92.5% !important;
}

/* Центральная часть */
#cont_center {
    overflow: hidden;
    width: 945px;
    padding-bottom: 20px;
    margin-top: 2px;
    _margin-top: -12px;
}

/* Левая сторона */
#cont_left {
    float: left;
    margin: 10px 0 0 30px;
    width: 205px;
}

#cont_left ul li {
    padding-bottom: 7px;
}

#cont_left ul li a {
    color: #000;
    font-size: 12px;
    position: relative;
    top: -3px;
}

.filename {
    background: url('../images/file_icon.jpg') no-repeat top left;
    padding-left: 24px;
}

.filename_small {
    font-size: 11px;
    color: #909090;
    position: relative;
    top: -4px;
}

/*Правая сторона */
#cont_right {
    float: left;
    overflow: hidden;
    margin-top: 5px;
}