
<div class="plus_head"><h1>{$feedback}</h1></div> 
 	<div id="result"></div>
	<form action="" method="post">
		<div class="form" style="width: 400px;">
  		<div class="row">{$feedback_name}<br><input type="text" name="name" id="name" size="50" maxlength="120" class="input"></div>
  		<div class="row">{$feedback_email}<br><input type="text" name="email" id="email" size="50" maxlength="120" class="input"></div>
  		<div class="row">{$feedback_message}<br><textarea name="msg" id="msg" cols="50" rows="5" class="textarea"></textarea></div>
  		<div class="row">Контрольные цифры:<br><img src="/image.png"><input type="text" name="captcha" maxlength="4" class="input_captcha" id="captcha"></div>
  		<div class="row"><input type="button" name="submit" onclick="Feedback();" value="Отправить" class="button"></div>
	</div>
	</form>
	
	
 