 <div class="search">
   <form name="form" action="/" method="get" class="FormSearch">
	<input name="mod" type="hidden" value="search">
	<input class="inputserch" onblur="if(this.value=='') this.value='поиск...';" onfocus="if(this.value=='поиск...') this.value='';" value="поиск..." name="search"><input type="submit" value="Поиск" class="serch" />
   </form>   
</div>