<div class="plus_head"><h1>Запис на прийом</h1></div> 
{strip}

	<form name="priem" action="/priem/send/" method="post" onsubmit="return Priem(document.priem);">
	<div class="form" style="width: 400px;">
  		<div class="row">{$feedback_name} <span class="red">*</span><br><input type="text" name="name" id="name" size="50" maxlength="120" class="input"></div>
		<div class="row">Дата народження :<br> 
		
<select name="beryear"   class="beryear" >
<option label="1924" value="1924">1924</option>
<option label="1925" value="1925">1925</option>
<option label="1926" value="1926">1926</option>
<option label="1927" value="1927">1927</option>
<option label="1928" value="1928">1928</option>
<option label="1929" value="1929">1929</option>
<option label="1930" value="1930">1930</option>
<option label="1931" value="1931">1931</option>
<option label="1932" value="1932">1932</option>
<option label="1933" value="1933">1933</option>
<option label="1934" value="1934">1934</option>
<option label="1935" value="1935">1935</option>
<option label="1936" value="1936">1936</option>
<option label="1937" value="1937">1937</option>
<option label="1938" value="1938">1938</option>
<option label="1939" value="1939">1939</option>
<option label="1940" value="1940">1940</option>
<option label="1941" value="1941">1941</option>
<option label="1942" value="1942">1942</option>
<option label="1943" value="1943">1943</option>
<option label="1944" value="1944">1944</option>
<option label="1945" value="1945">1945</option>
<option label="1946" value="1946">1946</option>
<option label="1947" value="1947">1947</option>
<option label="1948" value="1948">1948</option>
<option label="1949" value="1949">1949</option>
<option label="1950" value="1950">1950</option>
<option label="1951" value="1951">1951</option>
<option label="1952" value="1952">1952</option>
<option label="1953" value="1953">1953</option>
<option label="1954" value="1954">1954</option>
<option label="1955" value="1955">1955</option>
<option label="1956" value="1956">1956</option>
<option label="1957" value="1957">1957</option>
<option label="1958" value="1958">1958</option>
<option label="1959" value="1959">1959</option>
<option label="1960" value="1960">1960</option>
<option label="1961" value="1961">1961</option>
<option label="1962" value="1962">1962</option>
<option label="1963" value="1963">1963</option>
<option label="1964" value="1964">1964</option>
<option label="1965" value="1965">1965</option>
<option label="1966" value="1966">1966</option>
<option label="1967" value="1967">1967</option>
<option label="1968" value="1968">1968</option>
<option label="1969" value="1969">1969</option>
<option label="1970" value="1970">1970</option>
<option label="1971" value="1971">1971</option>
<option label="1972" value="1972">1972</option>
<option label="1973" value="1973">1973</option>
<option label="1974" value="1974">1974</option>
<option label="1975" value="1975">1975</option>
<option label="1976" value="1976">1976</option>
<option label="1977" value="1977">1977</option>
<option label="1978" value="1978">1978</option>
<option label="1979" value="1979">1979</option>
<option label="1980" value="1980">1980</option>
<option label="1981" value="1981">1981</option>
<option label="1982" value="1982">1982</option>
<option label="1983" value="1983">1983</option>
<option label="1984" value="1984">1984</option>
<option label="1985" value="1985">1985</option>
<option label="1986" value="1986">1986</option>
<option label="1987" value="1987">1987</option>
<option label="1988" value="1988">1988</option>
<option label="1989" value="1989">1989</option>
<option label="1990" value="1990">1990</option>
<option label="1991" value="1991">1991</option>
<option label="1992" value="1992">1992</option>
<option label="1993" value="1993">1993</option>
<option label="1994" value="1994">1994</option>
<option label="1995" value="1995">1995</option>
<option label="1996" value="1996">1996</option>
<option label="1997" value="1997">1997</option>
<option label="1998" value="1998">1998</option>
<option label="1999" value="1999">1999</option>
<option label="2000" value="2000">2000</option>
<option label="2001" value="2001">2001</option>
<option label="2002" value="2002">2002</option>
<option label="2003" value="2003">2003</option>
<option label="2004" value="2004">2004</option>
<option label="2005" value="2005">2005</option>
<option label="2006" value="2006">2006</option>
<option label="2007" value="2007">2007</option>
<option label="2008" value="2008">2008</option>
<option label="2009" value="2009">2009</option>
<option label="2010" value="2010">2010</option>
<option label="2011" value="2011" selected="selected">2011</option>
<option label="2012" value="2012">2012</option>
<option label="2013" value="2013">2013</option>
<option label="2014" value="2014">2014</option>
<option label="2015" value="2015">2015</option>
<option label="2016" value="2016">2016</option>
</select>

&nbsp;&nbsp;
<select name="bermonth"  class="bermonth">
<option label="січня" value="01"  selected="selected">січня</option>
<option label="лютого" value="02">лютого</option>
<option label="березня" value="03">березня</option>
<option label="квітня" value="04">квітня</option>
<option label="травня" value="05">травня</option>
<option label="червня" value="06">червня</option>
<option label="липня" value="07">липня</option>
<option label="серпня" value="08">серпня</option>
<option label="вересня" value="09">вересня</option>
<option label="жовтня" value="10">жовтня</option>
<option label="листопада" value="11">листопада</option>
<option label="грудня" value="12">грудня</option>
</select>

&nbsp;&nbsp;
<select name="berday"  class="berday">
<option label="01" value="01">01</option>
<option label="02" value="02">02</option>
<option label="03" value="03">03</option>
<option label="04" value="04">04</option>
<option label="05" value="05">05</option>
<option label="06" value="06">06</option>
<option label="07" value="07">07</option>
<option label="08" value="08">08</option>
<option label="09" value="09">09</option>
<option label="10" value="10">10</option>
<option label="11" value="11">11</option>
<option label="12" value="12">12</option>
<option label="13" value="13">13</option>
<option label="14" value="14">14</option>
<option label="15" value="15">15</option>
<option label="16" value="16">16</option>
<option label="17" value="17">17</option>
<option label="18" value="18">18</option>
<option label="19" value="19">19</option>
<option label="20" value="20">20</option>
<option label="21" value="21">21</option>
<option label="22" value="22">22</option>
<option label="23" value="23">23</option>
<option label="24" value="24">24</option>
<option label="25" value="25">25</option>
<option label="26" value="26">26</option>
<option label="27" value="27">27</option>
<option label="28" value="28">28</option>
<option label="29" value="29">29</option>
<option label="30" value="30">30</option>
<option label="31" value="31">31</option>
</select>

		
		</div> 
		
		
		
		
  		<div class="row">{$feedback_email}<br><input type="text" name="email" id="email" size="50" maxlength="120" class="input"></div>
		<div class="row">Телефон : <span class="red">*</span><br><input type="text" name="tel" id="tel" size="50" maxlength="120" class="input"></div>
		

 {*календарь*}
  <link href="/templates/{$theme}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="/templates/{$theme}/js/jquery.min.js"></script>
  <script src="/templates/{$theme}/js/jquery-ui.min.js"></script>
  <script src="/templates/{$theme}/js/jquery.ui.datepicker-ru.js"></script> 
  {*зависимые селекты*}
  <script type="text/javascript" src="/templates/{$theme}/priem/example/ajax.js"></script>
<script type="text/javascript" src="/templates/{$theme}/priem/example/chained.js"></script>

 
 		<div class="row">Дата прийому: <span class="red">*</span><br> <input type="text"  class="input" name="datapr" id="datapr"></div>
        <div class="row">Бажаний час прийому:<br> 
	    
		<select id="time" name="time" class="time">
<option value="8:30 - 9:00">8:30 - 9:00</option>
<option value="9:00 - 9:30">9:00 - 9:30</option>
<option value="9:30 - 10:00">9:30 - 10:00</option>
<option value="10:00 - 10:30">10:00 - 10:30</option>
<option value="10:30 - 11:00">10:30 - 11:00</option>
<option value="11:00 - 11:30">11:00 - 11:30</option>

<option value="11 30 - 12:00">11:30 - 12:00</option>
<option value="12:00 - 12:30">12:00 - 12:30</option>
<option value="12:30 - 13:00">12:30 - 13:00</option>
<option value="13:00 - 13:30">13:00 - 13:30</option>
<option value="13:30 - 14:00">13:30 - 14:00</option>
<option value="14:00 - 14:30">14:00 - 14:30</option>
<option value="14:30 - 15:00">14:30 - 15:00</option>
<option value="15:00 - 15:30">15:00 - 15:30</option>
<option value="15:30 - 16:00">15:30 - 16:00</option>

<option value="16:00 - 16:30">16:00 - 16:30</option>
<option value="16:30 - 17:00">16:30 - 17:00</option>
<option value="17:00 - 17:30">17:00 - 17:30</option>
<option value="17:30 - 18:00">17:30 - 18:00</option>
<option value="18:00 - 18:30">18:00 - 18:30</option>
<option value="18:30 - 19:00">18:30 - 19:00</option>
<option value="19:00 - 19:30">19:00 - 19:30</option>
<option value="19:30 - 20:00">19:30 - 20:00</option>

	   		</select>

		</div>


		
		<div class="row">Оберіть відділення: <br>
		<select id="dhtmlgoodies_country" name="vididl" onchange="getCityList(this)" class="select">
		<option selected value="1" >Оберіть відділення</option>
		<OPTION value="Відділення променевої діагностики та компьютерної томографії">Відділення променевої діагностики та компьютерної томографії</OPTION>
        <OPTION value="Ендоскопічне відділення">Ендоскопічне відділення</OPTION>
        <OPTION value="Клініко-консультативне відділення">Клініко-консультативне відділення</OPTION>
        <OPTION value="Відділення УЗД">Відділення УЗД</OPTION>
        <OPTION value="Клініко-діагностична лабораторія">Клініко-діагностична лабораторія</OPTION>
		<OPTION value="Відділення функціональної діагностики">Відділення функціональної діагностики</OPTION>
		<OPTION value="Кардіодиспансерне відділення">Кардіодиспансерне відділення</OPTION>
		<OPTION value="Відділ по ремонту медичної техніки" disabled>Відділ по ремонту медичної техніки</OPTION>
		<OPTION value="Госпрозрахункове відділення" disabled>Госпрозрахункове відділення</OPTION>
		</select>
		</div>
		
		<div class="row">Оберіть підрозділ: <br>
		<select id="sub" name="sub" class="select">
		<option value="">Спочатку оберіть відділення </option>
		</select>
		</div>
		
		
		 
 
		
		
		
  		<div class="row">{$feedback_message}<br><textarea name="msg" id="msg" cols="50" rows="5" class="textarea"></textarea></div>
		
  		<div class="row"><input type="submit" name="submit" value="{$feedback_button}" class="button"></div>
	</div>
	</form>
	<br><br>
<span class="red">*</span> - поля, обов'язкові для заповнення<br>

УВАГА! Ви розміщуєте попередню заявку. Для підтвердження чекайте дзвінка координатора контакт-центру. 
	{/strip}
	
	
	
	

 

 
