.tree_menu {
font-family: arial, helvetica, serif;
font-size: 10pt;
padding: 2px;
}

.tree_menu a {
width: 100%;
display: block;
text-decoration: none;
height: 24px;
line-height: 24px;
color: #445566;
}

.tree_menu a:hover {
text-decoration: none;
color: #3979dc;
font-weight: bold;
}

.tree_menu a#active {
font-weight: bold;
}

.tree_menu ul, .tree_menu li {
display: inline;
}

.tree_menu img {
vertical-align: text-bottom;
margin-left: 4px;
margin-right: 4px;
width: 16px;
height: 16px;
}

.sub_tree_menu {
padding-left: 20px;
}