<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Сайт временно закрыт - S2DIO.COM.UA создание сайтов Житомир, разработка сайта изготовление веб дизайн seo продвижение сайтов Украина Киев Житомир</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet"  href="/templates/{$theme}/css/site_main.css" media="screen">
</head>
<body>

<div style="padding-top: 50px" align="center" >
<div class="border" >
  {$close_text}
</div>
</div>

</body>
</html>