{include file="header.tpl"}
<div id="content">
  <h1>S2dio.CMS</h1>
    <!-- MENU TOP -->
    {include_php file="modules/pages/structure.php"}
    <!-- MENU TOP END-->
 
 <div class="post"> 
     <!-- Serch-->
   {include file="search/form.tpl"}
    <!-- Serch END -->
     <div class="clear"></div>
     </div>
     
        {include file=$page}
    <div class="clear"></div>
  
  
  {if $pageIndex eq 1}
	   <div class="post">
        {include_php file="modules/photos/last.php"}
          <div class="clear"></div>
       </div>
       
	  <div class="col">
	 
	  </div>
	  <div class="col">
	 
	  </div>
	  <div class="col last">
	
	 {include_php file="modules/news/last.php"}
	 
	  </div>
 {/if}
  <div id="footer">
    <p>{include file="footer.tpl"}  </p>
  </div>
</div>

{*include_php file="modules/catalog/cat.php"*}
 





















 