<h1>Пользовательское соглашение</h1>

<p>
Настоящее пользовательское соглашение (далее &mdash; Соглашение)
является юридическим соглашением между Пользователем
системы управления сайтами &laquo;S2 cms&raquo; (далее &mdash; Продуктом)
и Ступаком О. Г. (далее &mdash; Автором). 
</p>
<p>
Соглашение относится ко всем распространяемым версиям или модификациям программного Продукта. 
</p>
<ol>
	<li>Все положения Соглашения распространяются как на Продукт в целом, так и на его отдельные компоненты, за исключением компонентов, описанных в п.7 данного Соглашения.</li>
	<li>Соглашение вступает в силу непосредственно в момент получения Пользователем копии Продукта посредством электронных средств передачи данных либо на физических носителях.</li>
	<li>Соглашение дает Пользователю право использовать Продукт в рамках одного сайта, который работает в пределах одного полного доменного имени.</li>
	<li>Автор не несет ответственность за какие-либо убытки и/или ущерб (в том числе, убытки в связи недополученной коммерческой выгодой, прерыванием коммерческой и производственной деятельности, утратой данных), возникающие в связи с использованием или невозможностью использования Продукта, даже если Автор был уведомлен о возможном возникновении таких убытков и/или ущерба.</li>
	<li>Продукт поставляется на условиях &laquo;как есть&raquo; без предоставления гарантий производительности, покупательной способности, сохранности данных, а также иных явно выраженных или предполагаемых гарантий. Автор не несёт какой-либо ответственности за причинение или возможность причинения вреда Пользователю, его информации или его бизнесу вследствие использования или невозможности использования Продукта. </li>
	<li>Автор не несёт ответственность, связанную с привлечением Пользователя или третьих лиц к административной или уголовной ответственности за использование Продукта в противозаконных целях (включая, но не ограничиваясь, продажей через Интернет магазин объектов, изъятых из оборота или добытых преступным путём, предназначенных для разжигания межрасовой или межнациональной вражды и т.д.).</li>
	<li>Продукт содержит компоненты, на которые не распространяется действие настоящего Соглашения.
	Эти компоненты предоставляются и распространяются свободно в соответствии с собственными лицензиями.
	Таковыми компонентами являются:
	<ul>
	<li>Визуальный редактор <a href='http://tinymce.moxiecode.com/'>TinyMCE</a>;</li>
	<li>Файловый менеджер <a href='http://synasys.de'>SMExplorer</a>;</li>
	<li>Менеджер изображений <a href='http://synasys.de'>SMImage</a>;</li>
	<li>Редактор кода <a href='http://marijn.haverbeke.nl/codemirror/'>Codemirror</a>;</li>
	<li>Скрипт просмотра изображений <a href='http://enlargeit.timos-welt.de'>EnlargeIt</a>.</li>
	</ul>
	<li>Пользователь не имеет права продавать, распространять или использовать Продукт без согласия Автора.</li>
	<li>Пользователь имеет право модифицировать Продукт по своему усмотрению. При этом последующее использование Продукта должно осуществляться в соответствии с данным Соглашением и при условии сохранения всех авторских прав.</li>
	<li>Автор оставляет за собой право в любое время изменять условия Соглашения без предварительного уведомления.</li>
	<li>Получение экземпляра Продукта, его использование и/или хранение автоматически означает<br />
	а) осведомленность Пользователя о содержании Соглашения;<br />
	б) принятие его положений;<br />
	в) выполнение условий данного Соглашения.</li>
</ol>
<br />
Официальный сайт Продукта: <a href="http://s2dio.com.ua">www.s2dio.com.ua</a> Stupak Oleg Gennadievich

