  
	{foreach from=$last key=key item=item}
		<span class="blog"><a href="/blog/{$item.url}" title="{$item.name}" class="dashed">{$item.name}</a></span> 
		<span class="date">{$item.date}</span>
		 {$item.short_text}
	{/foreach}
 <div style="float: left"><a href="/blog/" title="Все статьи">Все статьи</a></div><br>
 
  