 
 <div class="print">
  <div class="plus_head"><h1>{$name}</h1></div>
	<div class="autor">{if $autor}<a href ="/blog/view/search/{$autor}/"> {$autor}</a>,{/if} {$date}, переглядів: {$view}</div>
 	<span class="news_text">{$text}
	</span><br> 
</div>
	<div style="margin-bottom:20px">
	<div style="float: left;">
	<a href="#" onclick="history.back();return false;">повернутися назад</a>
	</div>
{*Социальные сети*}
    <div class="service"> 		 
	<a href="" onclick="printBlock();" class="service_link service_print"><img src="/templates/omkdc/images/social/blank.gif" alt="" /></a> 
	
	
     	<div class="service_link sshare"> 

	        			<a href="javascript:void(0)" class="service_link service_share"><img src="/templates/omkdc/images/social/blank.gif" alt="" /></a> 
	        			<div class="sshare_data"> 
	        				<div class="sshare_data_top"></div> 
	        				<div class="sshare_data_body"> 
		        				<div class="sshare_data_body_inner"> 
							   		<a href="/feedback/">Email</a> 
		        					<a href="http://twitter.com/share?url={$url}" target="_blank">Twitter</a> 
		        					<a href="http://www.facebook.com/sharer.php?u={$url}" target="_blank">Facebook</a> 
		        					{literal}
									<a href='javascript:var%20b=document.body;var%20GR________bookmarklet_domain=&quot;http://www.google.com&quot;;if(b&amp;&amp;!document.xmlVersion){void(z=document.createElement(&quot;script&quot;));void(z.src=&quot;http://www.google.com/reader/ui/link-bookmarklet.js&quot;);void(b.appendChild(z));}else{}'>Google</a> 
						    		<a href="http://www.delicious.com/save" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;">Delicious</a> 
    								{/literal}
									<a href="http://vkontakte.ru/share.php?url={$url}" target="_blank">ВКонтакте</a>
								 	</div> 
	        				</div> 
	        				<div class="sshare_data_bottom"></div> 
	        			</div> 
	        		</div> 
</div>
	</div>
{*Социальные сети*}
	{if $com_on eq yes}{include_php file="modules/comments/view.php"}{/if}