 


<!--
<div style="float:right">
<h3 class="why-blog"><span class="why-blog">Поиск по блогу </span></h3> 
</div>
</div>
<div class="why-blog">
	<p class="why-us" style="text-align: justify;">
<form name="search" action="/news/view/search/" method="POST">
    <input type="text" name="s_text" value="" class="inputbig"/>
    <input type="submit" value="Найти" class="button"/>
</form>
<br>Для поиска введите строку и нажмите «Ввод» на клавиатуре или кликните по кнопке «Найти». 
</p>
 </div>
 <div style="clear: both; margin-bottom:10px;"></div>
 {$serch} 
 {$serching} 
<hr>
-->


 <div class="plus_head">
  <h1>{$nameserch}{if $id_item}{foreach from=$view_cat key=k item=v}{if $id_item == $v.id_item} {$v.name}{/if}{/foreach}{elseif !$id_item}Всі записи розділу{/if}  </h1>
  </div>
           {foreach from=$view_all key=key item=item}
		    <h2><a href="/news/{$item.url}" class="dashed">{$item.name}</a></h2>
			<div class="autor">{if $item.autor}<a href ="/news/view/search/{$item.autor}/"> {$item.autor}</a>, {/if}{$item.date}, переглядів: {$item.view} </div>
   			<span class="news_text">{$item.short_text}</span>
            {assign var="result" value=", "|explode:$item.meta_keywords} 
     		{if $item.meta_keywords} <div class="metki">Метки : {foreach from=$result item=foo}  <a href="/news/view/search/{$foo}/">{$foo}</a>&nbsp{/foreach}</div> {/if}
 		    <hr width="100%">
	 
		{/foreach}
		
        
		
		{foreach from=$view_cat key=key item=item}
 
    <a href="/news/{$item.id_item}/" class="dashed" 
	{foreach from=$view_all key=key item=items}{if  $items.id_category == $item.id_item}style="text-decoration:none;"{/if}{/foreach}>{$item.name}</a>  &nbsp;  
 
 {/foreach}
		
		
		
		
		
		<div style="float:right;">
		{foreach from=$nav_page key=key item=item}
  			{if $item.i == $item.page}<a href="/news/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/news/page/{$item.i}/" class="s2button">{$item.i}</a>{/if}
  		{/foreach}
        {foreach from=$nav_page2 key=key item=item}
  			{if $item.i == $item.page}<a href="/news/page/{$item.i}/" class="s2button-selected">{$item.i}</a>
  			{else}<a href="/news/page/{$item.i}/" class="s2button">{$item.i}</a>{/if}
        {/foreach}
		
				</div>
				
	
		
		
		
        