 {foreach from=$view_com key=key item=item}
			<div class="com_head">
			<div class="com_top">
			<div class="com_name"><b>{$item.name}</b> - {$item.email} - [{$item.date} в {$item.time}]</div>
			</div>
			<div class="com_text">{$item.text}</div>
			</div>
			<br>
    	{/foreach}
	 
		
		<div id="result">
	<div class="form">
		<form name="form" method="post" action="">
		<input type="hidden" name="module" id="module" value="{$module}">
		<input type="hidden" name="id_page" id="id_page" value="{$id_page}">
		 
		 
			<div class="row">Ім'я:<br><input id="name" name="name" type="text" class="input_com" size="40" maxlength="120"></div>
			<div class="row">E-mail:<br><input id="email" name="email" type="text" class="input_com" size="40" maxlength="120"></div>
			<div class="row">Коментар:<br><textarea id="text" name="text" class="textarea_com" cols="30" rows="10"></textarea></div>
			<div class="row"><input class="button" value="Додати" onclick="Comments('/{$module}/comments/add/')" type="button">
		
	
 		<div style="float: right; padding-top: 0px">
	 
  				<img src="/templates/{$theme}/images/b.gif" alt="[b]" onClick="AddInfo('[b] [/b]')">
  				<img src="/templates/{$theme}/images/i.gif" alt="[i]" onClick="AddInfo('[i] [/i]')">
  				<img src="/templates/{$theme}/images/u.gif" alt="[u]" onClick="AddInfo('[u] [/u]')">
				
  				<a onclick="ShowHide('smile_show');"><img src='/templates/{$theme}/images/smiles/2.gif' alt="Смайлики" border="0"></a>
  				<div id="smile_show" style="	position: absolute; background: #F7F7F7; display: none; width: 180px; padding: 5px; border: 1px dotted #e2e2e2">
            	{foreach from=$smile key=key item=item}
            		<img src="/templates/{$theme}/images/smiles/{$item.i}.gif" onClick="AddInfo('[sm{$item.i}]')" alt="sm{$item.i}">
            	{/foreach}
  		 
  			</div>
 		</div> 
		</form>
		</div></div>
			</div>
		
		
		